#map{
  height:400px;
  width:600px;
  margin: auto;
  border: 3px solid black;
  
  box-sizing: content-box;
}

#container-fluid {
   min-height:100%;
   position:relative;
   width: 80%;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}