{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block nav-login %}

  {% if user.is_authenticated %}
    <a href="{% url 'logout' %}">Logout</a>
  {% else %}
    <a href="{% url 'login' %}">Login</a>
  {% endif %}
  
{% endblock %}

{% block nav-signup %}

  {% if user.is_authenticated %}
    <a href="{% url 'signup' %}"></a>
  {% else %}
    <a href="{% url 'signup' %}">Sign Up</a>
  {% endif %}
  
{% endblock %}

{% block content %}

  {% if user.is_authenticated %}
    <h2>Home</h2>
    Welcome {{ user.username }}!
  {% else %}
    <p>You are not logged in</p>
  {% endif %}
  
{% endblock %}